body {
   background:  #aaa;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Bold, Italic, sans-serif;
   text-align: center;
   padding: 50px;
   color: #111;
 }

 h1 {
   font-size: 2.5em;
   margin-bottom: 10px;
 }

 p {
   font-size: 1.2em;
   margin-bottom: 30px;
 }

 button {
   padding: 15px 30px;
   font-size: 1.2em;
   color: white;
   background-color: #999;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 button:hover {
   background-color: #F1F1F1;
 }

 footer {
   margin-top: 60px;
   font-size: 0.9em;
   color: #555;
 }